<h2>{{raw.student.name}} ({{raw.class.code}})</h2>

<button id="bTreated">Marquer comme {{raw.treated?"non-":""}}traité</button>
<input type="hidden" id="hfStudentId" value="{{raw.student.id}}"/>
<input type="hidden" id="hfRawDataId" value="{{raw.id}}"/>
<input type="hidden" id="hfTreated" value="{{raw.treated?"1":""}}" />

<fieldset id="fsDescription">
    <legend>Description</legend>
    {{raw.description}}
</fieldset>

{% if works %}
    <fieldset id="fsWorks">
        <legend>Travaux encodés</legend>
        <table>
            <tr>
                <th style="width:2em">Type</th>
                <th colspan="2" style="width:10em">Branche</th>
                <th style="width:20em">Professeur</th>
                <th>Description</th>
            </tr>
            {% for w in works %}
                <tr>
                    <td>{{w.type}}</td>
                    <td>{{w.teaching.subject.code}}</td>
                    <td>{{w.teaching.subject.description}}</td>
                    <td>{{w.teaching.teacher.fullname}}</td>
                    <td>{{w.description}}</td>
                    <td class="delete">
                        <img src="{{asset("img/delete.gif")}}"/>
                        <input type="hidden" name="workId" value="{{w.id}}"/>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </fieldset>
{% endif %}

<fieldset id="fsAddNew">
    <legend>Ajouter un travail</legend>
    <input type="hidden" id="hRawDesc" value="{{raw.description}}"/>
    <p>
        <span id="pnType">
            <label for="rbTdv">
                <input type="radio" name="type" value="1" id="rbTdv">Travail de vacances</input>
            </label>
            <label for="rbRan">
                <input type="radio" name="type" value="2" id="rbRan">Remise à niveau</input>
            </label>
        </span>
        <span id="selectedSubjectText" style="margin-left:3em; background-color:lightblue; padding:5px; display:none;"></span>
        <input id="hfSelectedSubject" type="hidden" value="" />
    </p>
    <p>
        <label for="tbFilter">Filtre:</label>
        <input id="tbFilter" size="60"/>
        <img id="pbClear" src="{{asset("img/delete.gif")}}"/>
        <span id="lFilterCounts"></span>
    </p>
    <div id="subject">
        <table >
            {% for t in teachings %}
                <tr>
                    <td>{{t.subject.code}}</td>
                    <td>{{t.subject.description}}</td>
                    <td>{{t.teacher.fullname}}</td>
                    <input type="hidden" name="subjectId" value="{{t.id}}"/>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="pnAddDesc" >
        <label for="tbDescription">Description (optionnel)</label><br/>
        <textarea id="tbDescription" rows="5" cols="60"></textarea><br/>
        <button id="bAdd">Ajouter</button>
    </div>

</fieldset>
