<h2>{{raw.student.name}} ({{raw.class.code}})</h2>

<fieldset id="fsDescription">
    <legend>Description</legend>
    {{raw.description}}
</fieldset>

<fieldset id="fsAddNew">
    <legend>Ajouter un travail</legend>
    <input type="hidden" id="hRawDesc" value="{{raw.description}}"/>
    <p>
        <span id="pnType">
            <label for="rbTdv">
                <input type="radio" name="type" value="tdv" id="rbTdv">Travail de vacances</input>
            </label>
            <label for="rbRan">
                <input type="radio" name="type" value="ran" id="rbRan">Remise à niveau</input>
            </label>
        </span>
        <span id="selectedSubjectText" style="margin-left:3em; background-color:lightblue; padding:5px; display:none;"></span>
    </p>
    <p>
        <label for="tbFilter">Filtre:</label>
        <input id="tbFilter" size="60"/>
        <img id="pbClear" src="{{asset("img/delete.gif")}}"/>
        <span id="lFilterCounts"></span>
    </p>
    <div id="subject">
        <table >
            {% for t in teachings %}
                <tr>
                    <td>{{t.subject.code}}</td>
                    <td>{{t.subject.description}}</td>
                    <td>{{t.teacher.fullname}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</fieldset>
