<h2>{{raw.student.name}} ({{raw.class.code}})</h2>

<fieldset>
    <legend>Description</legend>
    {{raw.description}}
</fieldset>

<fieldset>
    <legend>Ajouter un travail</legend>
    <p>
        <input type="radio" name="type" value="tdv" id="rbTdv"><label for="rbTdv">Travail de vacances</label></input>
        <input type="radio" name="type" value="ran" id="rbRan"><label for="rbRan">Remise à niveau</label></input>
        <span id="selectedSubjectText" style="margin-left:3em"></span>
    </p>
    <p>
        <label for="tbFilter">Filtre:</label>
        <input id="tbFilter" size="25"/>
    </p>
    <div id="subject">
        <table >
            {% for t in teachings %}
                <tr>
                    <td>{{t.subject.code}}</td>
                    <td>{{t.subject.description}}</td>
                    <td>{{t.teacher.fullname}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</fieldset>
