{% extends 'base.html.twig' %}

{% set stylesheets=["rawdata_list.css"] %}
{% set javascripts=["rawdata_list.js"] %}

{% block post_head %}
    <style type="text/css" id="cssTreated">
        #raw_data tr.treated {
            display:none;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Liste brute des travaux</h1>

    <label for="cbTreatedToo" style="cursor:pointer"><input type="checkbox" id="cbTreatedToo">Afficher les travaux déjà traités</input></label>
    <br/>
    <div id="raw_data">
        <table>
            {% for w in works %}
                <tr class="{{w.treated? 'treated' : 'not-treated'}}" onclick>
                    <td>{{w.student.name}}</td>
                    <td>{{w.class.code}}</td>
                    <td>{{w.description}}</td>
                    <input name="url" type="hidden" value="{{path("rawdata_details", {"id":w.id})}}"/>
                </tr>
            {% endfor%}
        </table>
    </div>
{% endblock %}

