<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{asset("css/global.css")}}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="{{asset("js/jquery-2.1.4.min.js")}}"></script>
        <script type="text/javascript" src="{{asset("js/global.js")}}"></script>
        {% block pre_head %}{%endblock%}
        {% if stylesheets is defined %}
            {% for s in stylesheets %}
                <link rel="stylesheet" type="text/css" href="{{asset("css/"~s)}}"/>
            {% endfor %}
        {% endif %}
        {% if javascripts is defined %}
            {% for s in javascripts %}
                <script type="text/javascript" src="{{asset("js/"~s)}}"></script>
            {% endfor %}
        {% endif %}
        {% block post_head %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
