{% extends "base-ui.html.twig" %}

{% set javascripts=["teacher_encode_result.js"] %}

{% block body %}
    <h1>{{work.student.name}} - {{work.student.class.code}}</h1>

    <div class="margin">
        <div class="inline valign-middle">
            <select id="ddlType" name="type" class="custom-ui-select">
                <option value="1" {{work.type=="TDV"?"selected":""}}>Travail de vacances</option>
                <option value="2" {{work.type=="RAN"?"selected":""}}>Remise à niveau</option>
            </select>
        </div>
        en
        <div class="inline valign-middle">
            <select id="ddlSubject" name="subjectId" class="custom-ui-select">
                {% for s in subjects %}
                    <option
                        value="{{s.id}}"
                        {{s.id == work.subject.id?"selected":""}}
                        >{{s.code}} - {{s.description}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <p>
        <label for="tbDescription">Description</label><br/>
        <textarea id="tbDescription" autocomplete="off" rows="5" cols="30" class="custom-ui-textfield" style="padding:5px">{{work.description}}</textarea>
    </p>
        <p id="pnHasResult">
            {% set text = work.type == "TDV" ? ["Rendu", "Non rendu"] : ["Présent", "Absent"] %}
            <input id="rbResult" type="radio" name="hasResult" value="1" checked/><label for="rbResult">{{text[0]}}</label>
            <input id="rbNoResult" type="radio" name="hasResult" value="0"/><label for="rbNoResult">{{text[1]}}</label>
        </p>
        <p>
        <div class="margin" id="pnResult">
            <label>Note</label>
            {% if work.type == "TDV" %}
                <input id="tbResult" name="result" class="custom-ui-textfield" size="1"/>/100
            {% else %}
                <div style="vertical-align:middle; display:inline-block">
                    <select id="ddlResult" name="result" class="custom-ui-select">
                        {% for res in ["A","B","C","D"] %}
                            <option>{{res}}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>
{% endblock %}
